.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.editDeleteBtnGroup {
  padding: 5, 5;
}

.btnEdit {
  margin-right: 5px;
  border: none;
  background-color: #00000000;
}

.btnDelete {
  border: none;
  background-color: #00000000;

}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: rgb(213, 6, 6);
  z-index: 1;
}

.sticky-table-head {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* CSS for sticky header */
.table-container {
  max-width: 80%;
  margin-top: 5%;
  max-height: 80vh;
  /* Set a max height for scrolling content */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.table-container {
  max-width: 100%;
  max-height: auto;
  overflow-y: auto;
  margin-bottom: 5%;
}


@media only screen and (max-width: 780px) and (min-width: 400px) {

  .searchBar {
    margin-top: 30%;

  }
}

@media only screen and (max-width: 992px) and (min-width: 756px) {

  .searchBar {
    margin-top: 20%;

  }
}

@media only screen and (max-width: 560px) and (min-width: 0px) {

  .searchBar {
    margin-top: 50%;

  }
}